button {
    padding: 5px;
    margin-right: 5px;
}

table {
    --table-padding: 0.55rem;
    --table-background: #f4f4f8;
    background: var(--table-background);
    border: solid var(--table-background);
    border-radius: 12px;
    border-spacing: 0 2px;
    border-width: 5px 5px 3px;
    margin-bottom: 1.85rem;
    width: 100%;
}

table>tbody>tr {
    background: #fff;
    color: #000;
}